.gamePerfil_degrade{
    position: absolute;
    width: 100%;
    height: 100vh;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 1));
    z-index: 1;
}
.gamePerfil_imagenExtDiv{
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    overflow: hidden;
}
.gamePerfil_imagenDiv{
    position: relative;
    float: right; /* this was added and display removed */
    right: 50%;
}
.gamePerfil_imagen{
    position: relative; 
    right:-50%; /* this was changed from "left" in original */
}
.gamePerfil_titulo{
    position: absolute;
    bottom: 5vw;
    font-size: 8vw;
    z-index: 2;
}
.gamePerfil_paginaDos{
    background-color: #000000;
    height: 100vh;
    width: 100%;
}