/*
    #71E5B8
    #260B40
    #8640A8
*/


.inicio_titulo{
    font-size: 8vw;
}
.inicio_logo{
    background-color: #71E5B8;
    color: rgb(5, 5, 5);
    text-align: center;
    font-size: 7vw;
    text-transform: capitalize;
    border-radius: 50%;
    width: 10vw;
    height: 10vw;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    align-content: center;
}
.inicio_logoContainer{
    width: 10vw;
    position: absolute;
    right: 5vw;
}
.inicio_setHeader{
    display: flex;
    flex-direction: row;
}
.inicio_titulo{
    position: absolute;
    left: 4vw;
}
.inicio_setTags{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-right: 6vw;
    margin-left: 6vw;
}
.inicio_setLista-general{
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    justify-content: space-around;
}
.inicio_test{
    border-radius: 15%;
    margin-left: 3vw;
    margin-right: 3vw;
    margin-top: 2vw;
    height: 30vw;
    width: 25vw;
    background-color: grey;
}