/*
    #71E5B8
    #260B40
    #8640A8
*/


.inicio_titulo{
    font-size: 8vw;
}
.inicio_logo{
    background-color: #71E5B8;
    color: rgb(5, 5, 5);
    text-align: center;
    font-size: 7vw;
    text-transform: capitalize;
    border-radius: 50%;
    width: 10vw;
    height: 10vw;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    align-content: center;
}
.inicio_logoContainer{
    width: 10vw;
    position: absolute;
    right: 5vw;
}
.inicio_setHeader{
    display: flex;
    flex-direction: row;
}
.inicio_titulo{
    position: absolute;
    left: 4vw;
}
.inicio_setTags{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-right: 6vw;
    margin-left: 6vw;
}
.inicio_setLista-general{
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    justify-content: space-around;
}
.inicio_test{
    border-radius: 15%;
    margin-left: 3vw;
    margin-right: 3vw;
    margin-top: 2vw;
    height: 30vw;
    width: 25vw;
    background-color: grey;
}
@media screen and (max-width: 480px){
    ::-webkit-scrollbar {
        width: 3vw;
        background-color: #71E5B8;
    }
    ::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px grey; 
        border-radius: 10px;
    }
       
    ::-webkit-scrollbar-thumb {
        background-color: #260B40; 
        border-radius: 10px;
    }
      
    ::-webkit-scrollbar-thumb:hover {
        background: #8640A8; 
    }
    .nav{
        background-color: #71E5B8;
        display: grid;
        grid-template-rows: auto auto;
    }
    .nav_logos{
        background-color: #71E5B8;
        display: grid;
        width: 100%;
        align-items: center;
        grid-template-columns: auto auto;
    }
    .nav_botones{
        margin-right: 3vw;
        text-align: right;
    }
    .nav_boton{
        font-size: 7vw;
        margin-left: 3vw;
        background: none;
    }
    .nav_barra-setItems{
        background-color: #260B40;
        display: grid;
        grid-template-columns: 25% 25% 25%;
    }
    .nav_titulo{
        font-family: sans-serif;
        font-size: 5vw;
        margin-left: 3vw;
    }
    .cardSet{
        white-space: nowrap;
    }
    @keyframes moveCardSet1 {
        from{transform: translate();}
        to{transform: translateX(-100%);}
    }
    @keyframes moveCardSet2 {
        from{transform: translate(-100%);}
        to{transform: translateX(-200%);}
    }
    @keyframes moveCardSet3 {
        from{transform: translate(-200%);}
        to{transform: translateX(-300%);}
    }
    @keyframes moveCardSet4 {
        from{transform: translate(-300%);}
        to{transform: translateX(-400%);}
    }
    @keyframes moveCardSet5 {
        from{transform: translate(-400%)}
        to{transform: translateX(-500%);}
    }

    @keyframes moveIzqCardSet1 {
        from{transform: translateX(-100%);}
        to{transform: translateX(0%);}
    }
    @keyframes moveIzqCardSet2 {
        from{transform: translateX(-200%);}
        to{transform: translateX(-100%);}
    }
    @keyframes moveIzqCardSet3 {
        from{transform: translateX(-300%);}
        to{transform: translateX(0%);}
    }
    .cardSet_moveDer1{
        white-space: nowrap;
        animation-name: moveCardSet1;
        animation-duration: 1s;
        animation-fill-mode: forwards;
    }
    .cardSet_moveDer2{
        white-space: nowrap;
        animation-name: moveCardSet2;
        animation-duration: 1s;
        animation-fill-mode: forwards;
    }
    .cardSet_moveDer3{
        white-space: nowrap;
        animation-name: moveCardSet3;
        animation-duration: 1s;
        animation-fill-mode: forwards;
    }
    .cardSet_moveDer4{
        white-space: nowrap;
        animation-name: moveCardSet4;
        animation-duration: 1s;
        animation-fill-mode: forwards;
    }
    .cardSet_moveDer5{
        white-space: nowrap;
        animation-name: moveCardSet5;
        animation-duration: 1s;
        animation-fill-mode: forwards;
    }
    .cardSet_extremoDer{
        white-space: nowrap;
        transform: translateX(-200%);
    }
    .cardSet_extremoIzq{
        white-space: nowrap;
    }
    .cardSet_moveIzq1{
        white-space: nowrap;
        animation-name: moveIzqCardSet1;
        animation-duration: 1s;
        animation-fill-mode: forwards;
    }
    .cardSet_moveIzq2{
        white-space: nowrap;
        animation-name: moveIzqCardSet2;
        animation-duration: 1s;
        animation-fill-mode: forwards;
    }
    .cardSet_moveIzq3{
        white-space: nowrap;
        animation-name: moveIzqCardSet3;
        animation-duration: 1s;
        animation-fill-mode: forwards;
    }
    .inicioMain{
        overflow: hidden;
    }
    .divMayor{
        overflow: hidden;
    }
    .imagesDiv{
        background-color: #eee;
        display: grid;
        width: 100%;
        background-color: #71E5B8;
        grid-template-columns: 90% 90% 90%;
        overflow-x: scroll;
        margin-bottom: 5vw;
    }
    .separacion{
        margin-left: auto;
        margin-right: auto;
        height: 0.5vw;
        width: 90%;
        background-color: aliceblue;
        margin-bottom: 5vw;
    }
    .imagenes{
        float: inline-end;
        height: 50vw;
        width: 100%;
        border: 1px solid black;
        background-color: #8640A8;
        flex-basis: 0;
        flex-grow: 1;
        overflow: hidden;
    }
    .divLista{
        background-color: black
    }
    .inicioMain_containerImagenesCabezera{
        position: relative;
    }
    .inicioMain_botonLeft{
        width: 10vw;
        height: 10vw;
        border-radius: 50%;
        opacity: 0.5;
        cursor: pointer;
        position: absolute;
        left: 0;
        top: 40%;
    }
    .inicioMain_botonRight{
        width: 10vw;
        height: 10vw;
        border-radius: 50%;
        opacity: 0.5;
        cursor: pointer;
        position: absolute;
        right: 0;
        top: 40%;
    }
    .inicio_setNavPaginas{
        position: relative;
        height: 15vw;
    }
    .inicio_navPaginaIzq{
        width: 13vw;
        height: 13vw;
        border-radius: 50%;
        position: absolute;
        left: 3vw;
        cursor: pointer;
        transition: background-color 0.5s;
        transition: transform 0.3s;
    }
    .inicio_navPaginaIzq:hover{
        background-color: #260B40;
        transform: scale(1.1);
    }
    .inicio_navPaginaDer{
        width: 13vw;
        height: 13vw;
        border-radius: 50%;
        position: absolute;
        right: 3vw;
        cursor: pointer;
        transition: background-color 0.5s;
        transition: transform 0.3s;
    }
    .inicio_navPaginaDer:hover{
        background-color: #260B40;
        transform: scale(1.1);
    }
    .inicio_navPagina{
        position: absolute;
        width: 13vw;
        height: 13vw;
        border-radius: 50%;
        background-color: #71E5B8;
        color: #fff;
        font-family: sans-serif;
        font-size: 7vw;
        margin: 0 auto 0 auto;
        left: 0;
        right: 0;
    }
}