@media screen and (max-width: 480px){
    .primeraPagina{
        width: 100%;
        height: 100vh;
        background-color: #151737;
        overflow: hidden;
    }
    .cuernoDerecho-A{
        bottom: 70px;
        right: 15vw;
        position: absolute;
        background-color: transparent;
        width: 70vw;
        height: 65vw;
        border-radius: 50%;
        box-shadow: 17vw 1vw 0px #D6CECA;
    }
    .cuernoDerecho-B{
        width: 5vw;
        height: 5vw;
        background-color: transparent;
        position: absolute;
        bottom: 65vw;
        right: 20vw;
        border-top: solid 110px blue;
        border-right: solid 100px transparent;
        border-bottom: solid 0px transparent;
        border-left: solid 100px transparent;
        border-radius: 50%;
        transform: rotate(-80deg);
    }
    .cuernoIzquierdo-A{
        bottom: 70px;
        left: 50px;
        position: absolute;
        background-color: transparent;
        width: 350px;
        height: 300px;
        border-radius: 50%;
        box-shadow: -70px 5px 0px #D6CECA;
    }
    .cuernoIzquierdo-B{
        width: 50px;
        height: 50px;
        background-color: transparent;
        position: absolute;
        bottom: 310px;
        left: 85px;
        border-top: solid 110px #151737;
        border-right: solid 100px transparent;
        border-bottom: solid 0px transparent;
        border-left: solid 100px transparent;
        border-radius: 50%;
        transform: rotate(80deg);
    }
    .cabeza_arriba{
        background-color: #D6CECA;
        position: absolute;
        width: 90vw;
        height: 100px;
        border-radius: 50%;
        bottom: 15vw;
        left: 5vw;
        transform: scale(0.85,1);
    }
    .cabeza_centro{
        position: relative;
        bottom: -110px;
        margin-left: 4vw;
        margin-right: 4vw;
        width: 90vw;
        height: 150px;
        background-color: #D6CECA;
        border-radius: 100px 100px 0 0;
    }
    .ojos{
        overflow: hidden;
    }
    .ojo_izq{
        position: absolute;
        bottom: 0vw;
        left: 10vw;
        background-color: black;
        width: 30vw;
        height: 15vw;
        border-radius: 50% 50% 0 0;
    }
    .ojo_der{
        position: absolute;
        bottom: -65px;
        right: 65px;
        background-color: black;
        width: 120px;
        height: 150px;
        border-radius: 50%;
    }
    .primerPagina_titulo{
        width: 100vw;
    }
    .primeraPagina_titulo-letras{
        font-size: 11vw;
        margin-left: 3vw;
        margin-right: 3vw;
    }
    .primeraPagina_titulo-letras1Fila{
        margin-left: 20vw;
        margin-right: 3vw;
        z-index: 2;
    }
    .primeraPagina_titulo-letras2Fila{
        margin-left: 6vw;
        margin-right: 3vw;
    }
    .primeraPagina_titulo-letras3Fila{
        margin-left: 14vw;
        margin-right: 3vw;
    }
    .primeraPagina_titulo-letras4Fila{
        margin-left: -2vw;
        margin-right: 3vw;
    }
    .segundaPagina{
        background-color: green;
        width: 100vw;
        height: 100vh;
    }
    .terceraPagina{
        background-color: red;
        width: 100vw;
        height: 100vh;
    }
    .testtt{
        background-color: #151737;
        width: 100vw;
    }
}